body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif; 
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: black
}

.mountain-details,
.message-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message-container a {
  color: black;
}

/* Prevent color change on link click */
.message-container a:visited,
.message-container a:hover,
.message-container a:active {
  color: black;
} 

.mountain-details {
  text-align: center;
  color: black;
}

ul {
  list-style-type: none; /* removes bullet points */
}


ul li a {
  color: black;
  text-decoration: none;
}